<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlltheFeelz</title>

    <link 
        rel='stylesheet'
        href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'
    />
</head>

<div> 
    <h1 class="center-align">IN DEVELOPMENT</h1>    
</div>

<div>
    {{#each posts}}

    <h2>
        {{title}}
    </h2>
    <p>
        {{message}}
    </p>
    
    {{/each}}
</div>

<div>
    {{#each posts}}

    <h2>
        {{title}}
    </h2>
    <p>
        {{message}}
    </p>
    
    {{/each}}
</div>
<script type='text/javascript' src='js/materialize.min.js'></script>
</html>
