<div>
  <h1 class="center-align">HOME PAGE</h1>
</div>
<<<<<<< HEAD
=======
<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>
>>>>>>> 7cbf448391696eaf8afc57399af053236577a8f2
