<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlltheFeelz</title>

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css' />
</head>

<div>
    <h3 class="center-align">ALL POSTS</h3>
</div>

<br>
<div class="container">
    <div id="posts-row" class="col s12 card teal lighten-1 white-text">
        {{#each posts as |posts|}}

        <h3 class="teal darken-2">
            {{title}}
        </h3>
        <p>
            📋 {{message}}
        </p>
        <p>
            👤 {{user.username}} | Posted on {{ format_date created_at }}
        </p>
        {{/each}}
    </div>
</div>
<br>

<script type='text/javascript' src='js/materialize.min.js'></script>

</html>